@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    TTH.inс<br />
    4G,UA, 80100<br />
    <abbr title="Phone">P:</abbr>
    050 693 000 8
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">tth4ik@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">oleksandr.tatokhin@gmail.com</a>
</address>